<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <title>Scoreboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='jquery.min.js') }}" crossorigin="anonymous"></script>
    <script>
      $(document).ready(function(){
        // refresh lane data via AJAX GET request
        function refreshData() {
          $.ajax({
            url: "{{ url_for('get_data') }}",
            type: "GET",
            success: function(data) {
              $("#lane_results").html(data);
            }
          });
        }

        // Call the function on page load
        refreshData();

        // refresh data every 3 seconds
        setInterval(refreshData, 3000);
      });
    </script>
</head>
<body>
    <div class='table-container'>
      <div class='header'>
        <img class='header-image' src="{{ url_for('static', filename='vjo_logo.png') }}" alt="Logo"/>
        <!-- 26 chars max -->
        <p>VJO AQUATICS</p>
      </div>
      <div class='time-table-header'>
        <div>Place</div>
        <div>Lane</div>
        <div>Time</div>
      </div>
      <div class='time-table' id='lane_results'>
        {% for item in data %}
          <div class='time-table-row'>
            <div>{{ item.place }}</div>
            <div>{{ item.lane }}</div>
            <div>{{ item.time }}</div>
          </div>
            {% endfor %}
      </div>
    </div>
</body>
</html>
