<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <title>Scoreboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='jquery.min.js') }}" crossorigin="anonymous"></script>
    <script>
      $(document).ready(function(){
        // refresh lane data via AJAX GET request
        function refreshData() {
          $.ajax({
            url: "{{ url_for('get_data') }}",
            type: "GET",
            success: function(data) {
              $("#lane_results").html(data);
            }
          });
        }

        // Call the function on page load
        refreshData();

        // refresh data every 3 seconds
        setInterval(refreshData, 3000);
      });
    </script>
</head>
<body>
    <div id="content">
    <table class="styled-title-table">
        <tr>
        <th style="text-align: left"><img style="max-width: 10vw; height=auto;" src="{{ url_for('static', filename='vjo_logo.png') }}" alt="Logo"></th>
        <th style="text-align: left">VJO AQUATICS</th>
        </tr>
    </table>
    <table class="styled-table">
        <thead>
            <tr>
                <th style="text-align: center">Place</th>
                <th style="text-align: center">Lane</th>
                <th style="text-align: center">Time</th>
            </tr>
        </thead>
        <tbody id="lane_results">
            {% for item in data %}
                <tr class="active-row">
                    <td>{{ item.place }}</td>
                    <td>{{ item.lane }}</td>
                    <td>{{ item.time }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</body>
</html>
